.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.container {
  display: flex;
  align-items: center;
}
.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: lightgreen;
}

.is-done {
  opacity: 0.5;
}
